<app-latoolbar titulo="recuperar cuenta"></app-latoolbar>


<ion-content>
  <form>
  <ion-item>
    <ion-label position="stacked">Usuario: </ion-label>
    <ion-input  type="text" name="nombre" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña nueva: </ion-label>
    <ion-input  type="password" name="contrasenia1" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">confirmar contraseña: </ion-label>
    <ion-input  type="password" name="contrasenia2" required></ion-input>
  </ion-item>

  <ion-button expand="full"> Guardar </ion-button>
</form>
</ion-content>

<app-footer>  </app-footer>
