
<ion-content>
  <div class="container">

      <div class="logo"> 
        <img class= "imagen-logo"src="./assets/imgs/logo.jpg" style="width: 15vh; height: 15vh "/>
      </div>
      <div class="titulo">ingresar </div>

          <form class="formulario-login" >
            <ion-item>
              <ion-label position="stacked">Usuario</ion-label>
              <ion-input></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="stacked">Contraseña</ion-label>
              <ion-input type="password"> </ion-input>

            </ion-item >
            <ion-button class ="boton" expand="full">Ingresar</ion-button>
          </form>

      <div class="contenedor-contrasenia">
        <a class= "link-contrasenia" href="http://"> Olvidé mi contraseña </a> 
      </div>
      <div class="contenedor-registro">
        <a class="link-registro" [routerLink]="['/inicio']">Crea tu cuenta gratis</a>
      </div>
    

  </div>
</ion-content>


