<ion-header>
  <ion-toolbar color="success">
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TellevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <img src="./assets/imgs/tellevoapp.jpg" style="width: 15vh; height: 15vh "/>
      <ion-card-content>
        <ion-card-title>
          Ingresar
          </ion-card-title>
        
          <ion-list>

            <ion-item>
              <ion-label position="stacked">Usuario</ion-label>
              <ion-input type="text"  name="usuario" >
              </ion-input>
    
            </ion-item>
            <ion-list>
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password"  name="password" ></ion-input>
      
              </ion-item>
            </ion-list>
      
            <ion-button expand="full" [routerLink]="['/registro']" shape="round">Ingresar</ion-button>
          </ion-list>
        <br>
        <a [routerLink]="['/home']"> Olvidé mi contraseña </a><br>
        <a [routerLink]="['/home']"> Crear tu cuenta gratis </a>
      </ion-card-content>
    </ion-card>

  </div>


</ion-content>

