.contenedor {
    margin-top: 40px;
    text-align: center;
}

.botones {
    display: flex ;
    justify-content: center;
    padding: 40px;
    margin-top: 20px;
}

.botones .boton-pasajero {
    margin-right: 30px;
    width: 200px;
    height: 50px;   
}

.botones .boton-conductor {
    margin-right: 30px;
    width: 200px;
    height: 50px;   
}

.titulo {
    font-size: 27px;
    font-weight: bold;
    font-family: 'Lucida Sans';
}