<ion-header>
  <ion-toolbar color="success">
    <ion-title>TellevoAPP</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div id="container">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cómo deseas ingresar ?</ion-card-title>
    </ion-card-header>

    <form>
      
      <ion-button expand="full" [routerLink]="['/home']" shape="round">Conductor</ion-button>
      
      

      
      <ion-button expand="full" [routerLink]="['/home']" shape="round">Pasajero</ion-button>
    </form>

  </ion-card>
</div>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title> ©  Copyright tellevoAPP</ion-title>
  </ion-toolbar>
</ion-footer>