
  <app-latoolbar></app-latoolbar>



<ion-content>
  <div class="contenedor">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">Cómo deseas ingresar ?</ion-card-title>
    </ion-card-header>

    <form>
    <div class="botones">
      <ion-button class="boton-pasajero" shape="round" color="primary">Pasajero</ion-button>
      <br>
      
      <ion-button class="boton-conductor" shape="round"color="secondary">Conductor</ion-button>
    </div>
    </form>

  </ion-card>
</div>
</ion-content>


<app-footer></app-footer>