<app-latoolbar titulo="TellevoApp"></app-latoolbar>

<ion-content>
  <div class="contenedor">
    <div class="logo">
      <img class="imagen-logo" src="./assets/imgs/tellevoapp.png" style="width: 50vh; height: 40vh " />
    </div>
    <div class="titulo" style="alt: 50px;">Bienvenidos </div>


    <form>
        <div class="botones">
          <ion-button (click)="ingresarConductor()" class="boton-conductor" shape="round" color="secondary"
            [routerLink]="['/login']">Ingresar</ion-button>
        </div>
    </form>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ion-content>


<app-footer></app-footer>
